.list {
  display: flex;
  flex-direction: column;
}

ul,
li,
h2,
p {
  margin: 0;
  padding: 0;
}



.btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.margin {
  margin-left: 5px;
}
